name: Generate Snake

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  snake:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate advanced snake animations
        uses: Platane/snk@v3
        with:
          github_user_name: nihatbayramm
          outputs: |
            dist/snake-default.svg
            dist/snake-dark.svg?palette=github-dark
            dist/snake-neon.svg?color_snake=#00ff99&color_dots=#003333,#005555,#008888,#00ffaa,#00ff99
            dist/snake-purple.svg?color_snake=#9d4edd&color_dots=#240046,#3c096c,#5a189a,#7b2cbf,#9d4edd

      - name: Push snake animations
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
